<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gam.mapper.EmployeeMapper">
  
  <resultMap type="com.gam.dto.EmployeeDTO"  id="empMap" >
		<result property="eNo" column="E_NO"/>
		<result property="eName" column="E_NAME"/>
		<result property="ePw" column="E_PW"/>
		<result property="eLevel" column="E_LEVEL"/>
		<result property="eLine" column="E_LINE"/>
		<result property="eProNo" column="E_PRO_NO"/>
	</resultMap>
	
	<select id="getAllEmpList"  resultMap="empMap">
		select * from employee_tb
	</select>
	
	<select id="login" parameterType="map" resultMap="empMap" >
		select * from Employee_tb where e_no like #{id} and e_pw like #{pw}
	</select>
	  
	  <insert id="insertEmployee" parameterType="emp">
	  	insert into employee_tb(e_no, e_name, e_pw, e_level, e_line, e_pro_no)
	  	values (#{eNo}, #{eName}, #{ePw}, #{eLevel}, #{eLine}, #{eProNo})
	  </insert>
	  
	 <select id="selectEmployee" parameterType="integer" resultMap="empMap">
		select * from Employee_tb where e_no like #{e_no}
	 </select>
	  
    <delete id="deleteEmployee" parameterType="integer">
		delete from employee_tb where e_no like #{e_no}
	</delete>
	
	<update id="updateEmployee" parameterType="emp" >
		update Employee_tb set e_name = #{eName} , e_pw = #{ePw}, e_level = #{eLevel}, e_line = #{eLine}, e_pro_no = #{eProNo}
		where e_no  like #{eNo}
	</update>
  </mapper>