<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gam.mapper.ProcessMapper">
  
	<resultMap type="com.gam.dto.ProductDTO"  id="product" >
		<result property="productNo" column="P_NO"/>
		<result property="pName" column="P_NAME"/>
		<result property="pSize" column="P_SIZE"/>
		<result property="pPrice" column="P_PRICE"/>
		<result property="pCount" column="P_COUNT"/>
		<result property="pDate" column="P_DATE"/>
	</resultMap>
		
  
  	<select id="selectAllPro" resultType="pro">
  		select * from process_2_tb
  	</select>
  	
  	<select id="selectProcess" parameterType="String" resultType="pro">
  		select * from process_2_tb where pro_no like #{pro_no}
  	</select>
  	
  	<update id="updateProcess">
  		update process_2_tb set pro_name = #{pro_name}, pro_detail = #{pro_detail}
  		where pro_no like #{pro_no}
  	</update>
  	
  	<delete id="deleteProcess">
  		delete from process_2_tb where pro_no like #{pro_no}
  	</delete>
  	
  	<insert id="insertProcess" parameterType="pro">
  		insert into process_2_tb(pro_no, pro_name, pro_detail)
  		values (#{pro_no}, #{pro_name}, #{pro_detail})
  	</insert>
  	
  	<select id="selectAllRec" resultType="rec">
  		select r.re_no, r.re_p_no,
			r.re_m_number, r.re_m_no, r.re_m_no_2, p.p_name
		from recipe_2_tb r, product_tb p where r.re_p_no = p.p_no
  	</select>
  	
  	<select id="selectRecipe" resultType="rec">
  		select r.re_no, pro.pro_no, pro.pro_name, p.p_no, p.p_name
		from recipe_2_tb r, process_2_tb pro, product_tb p
		where r.re_no = #{re_no} and r.re_pro_4 = pro.pro_no and r.re_p_no = p.p_no
  	</select>
  	<select id="selectRecipe1" resultType="rec">
		select r.re_no, r.re_m_no, m.m_name
		from recipe_2_tb r, meterial_tb m
		where r.re_no = #{re_no} and r.re_m_no = m.m_no
  	</select>
  	<select id="selectRecipe2" resultType="rec">
  		select r.re_no, r.re_m_no_2, m.m_name
		from recipe_2_tb r, meterial_tb m
		where r.re_no = #{re_no} and re_m_no_2 = m_no
  	</select>
  	  	<delete id="deleteRecipe">
  		delete from recipe_2_tb where re_no like #{re_no}
  	</delete>
  	
  	<select id="selectAllProduct" resultMap="product">
  		select * from product_tb
  	</select>
  	
  	<insert id="insertRecipe" parameterType="rec">
  		insert into recipe_2_tb(re_no, re_pro_1, re_pro_2, re_pro_3, re_pro_4, re_p_no, re_m_number, re_m_no, re_m_no_2)
  		values (#{re_no}, #{re_pro_1}, #{re_pro_2}, #{re_pro_3}, #{re_pro_4}, #{re_p_no}, #{re_m_number}, #{re_m_no}, #{re_m_no2})
  	</insert>
  </mapper>